<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745199513963-g0kjnarccl5vsq1998ldmjgs5ugktgvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745199513963-g0kjnarccl5vsq1998ldmjgs5ugktgvb</string>
	<key>API_KEY</key>
	<string>AIzaSyAwnDCNIP4JNFv_nK_ypq9qokyViVeHMEA</string>
	<key>GCM_SENDER_ID</key>
	<string>745199513963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseData</string>
	<key>PROJECT_ID</key>
	<string>mydatabase-c226e</string>
	<key>STORAGE_BUCKET</key>
	<string>mydatabase-c226e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745199513963:ios:a1291e3407606967d75c2e</string>
	<key>DATABASE_URL</key>
	<string>https://mydatabase-c226e-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>